@import "variables";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#body {
    background-color: #fff;
    overflow-y: scroll;

    &.active {
        overflow-y: hidden;
    }

    #header {
        width: 1920px;
        position: relative;

        .container {
            width: 100%;

            .logo {
                position: absolute;
                top: 25px;
                left: 40px;
                text-decoration: none;
                z-index: 2;
            }

            .logo-bg {
                width: 337px;
                height: 189px;
                position: absolute;
                top: 10px;
                left: -20px;
                background-image: url(../img/logo-bg.png);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: left top;
                z-index: 1;
            }

            .toggle {
                width: 70px;
                height: 70px;
                position: fixed;
                top: 20px;
                right: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                z-index: 23;

                span {
                    position: absolute;

                    &:first-child {
                        width: 40px;
                        height: 4px;
                        background: #003ca0;
                        border-radius: 4px;
                        transition: 0.5s;
                        transform: translateY(-12px);
                    }

                    &:nth-child(2) {
                        width: 40px;
                        height: 4px;
                        background: #003ca0;
                        border-radius: 4px;
                        transition: 0.5s;
                    }

                    &:last-child {
                        font-size: 14px;
                        font-family: sans-serif;
                        color: #003ca0;
                        transition: 0.5s;
                        transform: translateY(20px);
                    }
                }

                &.active span:first-child {
                    transform: translateY(-12px) rotate(45deg);
                    transition-delay: 0.125s;
                }

                &.active span:nth-child(2) {
                    transform: translateY(-12px) rotate(315deg);
                    transition-delay: 0.25s;
                }
            }

            .toggle-bg {
                width: 240px;
                height: 164px;
                position: fixed;
                top: 0;
                right: 0;
                background-image: url(../img/trigger-bg.png);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: right top;
                z-index: 20;

                &.active {
                    display: none;
                }
            }
        }
    }

    main {

        #index {
            position: relative;
            width: 100%;
            background-color: #f5f8fc;
            overflow: hidden;

            .background {
                width:100%;
                height:100vh;
                background-image:url(../img/首頁背景雲朵.png);
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
                z-index: -1;
            }

            .navigation {
                width: 100%;
                height: 100%;
                position: fixed;
                top: 0;
                right: -100%;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                flex-direction: column;
                background: rgba(255,255,255,1);
                transition: 0.8s;
                z-index: 18;
                
                &.active {
                    right: 0;
                    position: fixed;
                }

                .content {
                    width: 550px;
                    height: 100%;
                    padding: 180px 120px;
                    background: rgba(245,248,252,1);

                    ul {
    
                        li {
                            list-style: none;
                            padding-bottom: 15px;
    
                            a {
                                position: relative;
                                text-decoration: none;
                                font-size: 1.8rem;
                                font-family: sans-serif;
                                letter-spacing: 0.06rem;
                                line-height: 150%;
                                color: #4d4d4d;
                            }
                        }

                        li:last-child {
                            padding-bottom: 80px;
                        }
                    }
    
                    .sns {
                        display: flex;
    
                        a {
                            text-decoration: none;
                            color: #4d4d4d;
                            font-size: 30px;
                            padding: 0 20px 100px;
                            cursor: pointer;
                        }

                        a:first-child {
                            padding-left: 0;
                        }
                    }

                    .language {
                        display: flex;
                        align-items: center;
                        cursor: pointer;

                        a {
                            text-decoration: none;
                            color: #4d4d4d;
                            font-size: 30px;
                            padding-right: 20px;
                        }

                        span {
                            font-size: 18px;
                            font-family: sans-serif;
                        }
                    }
                }
            }

            .scroll {
                position: absolute;
                bottom: 0;
                left: 960px;
                display: flex;
                flex-direction: column;
                align-items: center;

                p {
                    font-size: 14px;
                    font-family: sans-serif;
                    color: #003ca0;
                    padding-bottom: 10px;
                }

                .dot {
                    width: 6px;
                    height: 6px;
                    margin-bottom: 6px;
                    background-color: #003ca0;
                    border-radius: 50%;
                    opacity: 0;
                    animation-name: fade;
                    animation-iteration-count: infinite;
                    animation-duration: 2s;
                    list-style: none;
                }

                .dot:nth-child(2) {
                    animation-delay: 0.2s;
                }

                .dot:last-child {
                    animation-delay: 0.4s;
                    margin-bottom: 0px;
                }

                @keyframes fade {
                    0% {
                        opacity: 0;
                    }

                    50% {
                        opacity: 1;
                    }

                    100% {
                        opacity: 0;
                    }
                }
            }
            
            .sidebar {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                position: fixed;
                bottom: 20px;
                left: 40px;
                height: 100%;
                z-index: 15;

                p {
                    position: relative;
                    writing-mode: vertical-rl;
                    letter-spacing: 1px;
                    font-family: sans-serif;
                    padding-bottom: 80px;
                    color: #4d4d4d;

                    &::before {
                        display: block;
                        content: "";
                        position: absolute;
                        top: 90px;
                        left: 9px;
                        background: #4d4d4d;
                        width: 1.5px;
                        height: 50px;
                        transition: 0.3s ease all;
                    }
                }

                a {
                    padding: 10px 0;
                    text-decoration: none;
                    color: #4d4d4d;

                    .fab {
                        font-size: 25px;
                    }
                }
            }

            .languagebar {
                position: fixed;
                bottom: 30px;
                right: 40px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                z-index: 15;

                a {
                    text-decoration: none;
                    color: #4d4d4d;
                    font-size: 28px;
                    padding-bottom: 10px;
                }

                span {
                    font-size: 16px;
                    font-family: sans-serif;
                }
            }
        }

        #concept {
            position: relative;
            width: 100%;
            height: 1300px;
            background-color: #f5f8fc;

            .bg {
                background-image: url(../img/bg.svg);
                background-repeat: repeat-x;
                background-position: calc(50% - 0px);
                width: 100%;
                height: 875px;
                position: absolute;
                top: 280px;
                left: 0;
                z-index: 0;
            }

            .img-1 {
                background-image: url(../img/珍珠奶茶雪糕.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                width: 396.5px;
                height: 396.5px;
                border-radius: 50%;
                position: absolute;
                top: 660px;
                left: calc(50% + 294px);
                z-index: 5;
            }

            .img-2 {
                background-image: url(../img/小碗冰淇淋.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                width: 250px;
                height: 250px;
                border-radius: 50%;
                position: absolute;
                bottom: 60px;
                left: 420px;
                z-index: 5;
            }

            .img-3 {
                background-image: url(../img/吃冰小朋友.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: top;
                width: 500px;
                height: 500px;
                border-radius: 50%;
                position: absolute;
                top: 200px;
                right: calc(50% + 300px);
                z-index: 5;
            }

            .title {
                writing-mode: vertical-rl;
                font-size: 32px;
                font-weight: 700;
                font-family: '台灣圓體';
                letter-spacing: 0.66rem;
                line-height: 1.7;
                position: absolute;
                top: 250px;
                left: calc(50% - 52px);
                color: #f5f8fc;
                z-index: 10;
            }

            .title-bg {
                width: 450px;
                height: 400px;
                border-radius: 50%;
                position: absolute;
                top: 150px;
                left: calc(50% - 210px);
                transform: rotate(150deg);
                background-color: #e60014;
                z-index: 4;
            }

            .text {
                width: 500px;
                font-size: 18px;
                font-weight: 500;
                font-family: '台灣圓體';
                text-align: center;
                line-height: 2.4;
                position: absolute;
                bottom: 100px;
                left: calc(50% - 230px);
                color: #292929;
                z-index: 10;
            }

            .text-bg {
                width: 800px;
                height: 600px;
                border-radius: 50%;
                position: absolute;
                bottom: 25px;
                left: calc(50% - 380px);
                transform: rotate(-5deg);
                background-color: #ffd648;
                z-index: 3;
            }

            .ball-1 {
                width: 400px;
                height: 400px;
                position: absolute;
                bottom: 200px;
                left: 340px;
            }

            .ball-2 {
                width: 300px;
                height: 200px;
                position: absolute;
                top: 400px;
                right: 120px;
            }
        }

        #products {
            position: relative;
            width: 100%;
            margin: 0 auto;
            padding: 280px 240px 230px;
            background-color: #f5f8fc;
            overflow: hidden;

            .title {
                position: absolute;
                font-size: 72px;
                font-weight: 700;
                letter-spacing: 0.48rem;
                font-family: sans-serif;
                z-index: 5;

                .red {
                    padding: 5px;
                    color: #e60014;
                }

                .blue {
                    color: #003ca0;
                }
            }

            .title-bg {
                width: 900px;
                height: 885px;
                position: absolute;
                top: 0;
                left: -50px;
                background-image: url(../img/products-title-bg.png);
                background-repeat: no-repeat;
                background-size: contain;
                z-index: 1;
            }

            .products-list {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: flex-start;
                margin-bottom: -130px;
                padding: 430px 150px 0;

                .products-item {
                    position: relative;
                    width: 460px;
                    margin-bottom: 130px;
                    padding: 25px;
                    border-radius: 230px 230px 20px 20px;
                    text-decoration: none;
                    z-index: 10;
                    

                    &:first-child {
                        margin-top: -200px;
                        background-color: #ffd648;
                        color: #292929;
                    }

                    &:nth-child(2) {
                        background-color: #e60014;
                        color: #f5f8fc;
                    }

                    &:nth-child(3){
                        margin-top: -100px;
                        background-color: #003ca0;
                        color: #ffd648;
                    }

                    &:last-child {
                        margin-top: 100px;
                        background-color: #ffd648;
                        color: #292929;
                    }

                    .img {
                        position: relative;
                        margin-bottom: 40px;
                        padding-top: 110%;
                        border-radius: 215px 215px 5px 5px;
                        background-position: center center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                    .img-1 {
                        background-image: url(../img/products-img1.jfif);
                    }

                    .img-2 {
                        background-image: url(../img/products-img2.jfif);
                    }

                    .img-3 {
                        background-image: url(../img/products-img3.jfif);
                    }

                    .img-4 {
                        background-image: url(../img/products-img4.jfif);
                    }

                    .item-title {
                        font-size: 28px;
                        font-weight: 600;
                        font-family: '台灣圓體';
                        line-height: 26px;
                        text-align: center;
                        margin-bottom: 35px;
                    }

                    .item-text {
                        font-size: 18px;
                        font-family: '台灣圓體';
                        line-height: 2;
                    }
                }
            }

            .products-list-bg {
                width: 600px;
                height: 800px;
                position: absolute;
                bottom: 0;
                right: -240px;
                background-image: url(../img/products-list-bg.png);
                background-repeat: no-repeat;
                background-size: cover;
                z-index: 0;
            }

            .ball-1 {
                width: 500px;
                height: 400px;
                position: absolute;
                bottom: 280px;
                left: 80px;
            }

            .ball-2 {
                width: 600px;
                height: 650px;
                position: absolute;
                top: 830px;
                right: calc(50% - 330px);
            }

            .ball-3 {
                width: 500px;
                height: 450px;
                transform: rotate(210deg);
                position: absolute;
                top: 150px;
                right: 80px;
            }
        }

        #history {
            position: relative;
            padding-top: 150px;
            padding-bottom: 150px;
            background-color: #003ca0;
            z-index: 10;
            overflow: hidden;

            .inner {
                position: relative;
                width: 1096px;
                height: 950px;
                margin: 0 auto;
                z-index: 10;

                .bg-typo {
                    width: 12000px;
                    height: 350px;
                    display: block;
                    position: absolute;
                    top: 190px;
                    left: 0;
                    background-image: url(../img/history-typo-shaomei.svg);
                    background-size: contain;
                    background-repeat: no-repeat;
                    animation: 70s linear 0s infinite running motion;
                    
                }
    
                @keyframes motion {
                    0% {
                        transform: translateX(0);
                    }
    
                    100% {
                        transform: translateX(-6000px);
                    }
                }

                .circile-year {
                    width: 750px;
                    height: 750px;
                    position: absolute;
                    top: 0;
                    left: 225px;
                    background-image: url(../img/history-cicyle-year.svg);
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }

                .title {
                    width: 280px;
                    height: 474px;
                    position: absolute;
                    top: 130px;
                    left: 66px;
                    
                    .num {
                        font-size: 120px;
                        font-weight: 400;
                        font-family: sans-serif;
                        padding-top: 70px;
                        line-height: 1;
                        color: #ffd648;
                    }

                    .text {
                        font-size: 18px;
                        font-weight: 600;
                        font-family: '台灣圓體';
                        margin-top: 20px;
                        line-height: 1.5;
                        color: #ffd648;
                    }
                }

                .imgs {
                    position: absolute;
                    top: -20px;
                    left: 224px;
                    width: 760px;
                    height: 760px;
                    background-image: url(../img/history-img1.png);
                    background-repeat: no-repeat;
                    background-position: center center;
                    // background-size: cover;
                }

                .btn-prev {
                    text-decoration: none;
                    color: #e60014;
                    width: 85px;
                    height: 85px;
                    position: absolute;
                    bottom: 0;
                    left: 350px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    .text {
                        font-size: 14px;
                        font-weight: 600;
                        font-family: sans-serif;
                        letter-spacing: 0.2rem;

                        &::after {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            border: 2px solid #e60014;
                            border-radius: 50%;
                        }
                    }

                    .arrow {
                        position: absolute;
                        left: -18px;

                        &::before {
                            content: "";
                            display: block;
                            width: 30px;
                            height: 2px;
                            background-color: #e60014;
                        }

                        &::after {
                            content: "";
                            display: block;
                            position: absolute;
                            left: 0;
                            transform: rotate(-35deg);
                            transform-origin: left;
                            width: 12px;
                            height: 2px;
                            background-color: #e60014;
                        }
                    }
                }

                .btn-next {
                    text-decoration: none;
                    color: #e60014;
                    width: 85px;
                    height: 85px;
                    position: absolute;
                    bottom: 0;
                    left: 670px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    .text {
                        font-size: 14px;
                        font-weight: 600;
                        font-family: sans-serif;
                        letter-spacing: 0.2rem;

                        &::after {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            border: 2px solid #e60014;
                            border-radius: 50%;
                        }
                    }

                    .arrow {
                        position: absolute;
                        right: -18px;

                        &::before {
                            content: "";
                            display: block;
                            width: 30px;
                            height: 2px;
                            background-color: #e60014;
                        }

                        &::after {
                            content: "";
                            display: block;
                            position: absolute;
                            right: 0;
                            transform: rotate(35deg);
                            transform-origin: right;
                            width: 12px;
                            height: 2px;
                            background-color: #e60014;
                        }
                    }
                }

                .pager {
                    width: 95px;
                    height: 75px;
                    position: absolute;
                    bottom: 4px;
                    left: 490px;
                    color: #e60014;
                    font-family: sans-serif;

                    .page {
                        font-size: 46px;
                        font-weight: 400;
                        position: absolute;
                        top: 25px;
                        right: 30px;
                    }

                    .hr {
                        width: 25px;
                        height: 2px;
                        position: absolute;
                        top: 28px;
                        right: 10px;
                        transform: rotate(45deg);
                        background-color: #e60014;
                    }

                    .total {
                        font-size: 18px;
                        font-weight: 400;
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                }
            }
        }

        #main-video {
            position: relative;
            padding-top: 300px;
            padding-bottom: 120px;
            background-color: #ffd648;

            .title-en {
                font-size: 48px;
                font-weight: 700;
                line-height: 1;
                letter-spacing: 0.5rem;
                font-family: sans-serif;
                position: absolute;
                top: 250px;
                left: calc(50% - 100px);
                // text-align: center;
                z-index: 10;

                .red {
                    padding: 5px;
                    color: #e60014;
                }

                .blue {
                    color: #003ca0;
                }
            }

            .title-tw {
                font-size: 17px;
                font-weight: 500;
                font-family: '台灣圓體';
                line-height: 1;
                letter-spacing: 0.2rem;
                margin-top: 18px;
                text-align: center;
                color: #4d4d4d;
            }

            .video {
                width: 1440px;
                height: 844px;
                position: relative;
                margin: 45px auto;
                overflow: hidden;

                .img {
                    width: 100%;
                    height: 100%;
                    background-image: url(../img/main-vadio.webp);
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;
                    z-index: 3;
                }

                .cover-top {
                    width: 100%;
                    height: 40px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: #e60014;
                    z-index: 5;
                }

                .cover-bottom {
                    width: 100%;
                    height: 40px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background-color: #e60014;
                    z-index: 5;
                }

                .btn {
                    width: 70px;
                    height: 70px;
                    position: absolute;
                    top: 348px;
                    left: calc(50% - 35px);
                    background-image: url(../img/video-btn.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                }

                .btn-typo {
                    width: 180px;
                    height: 180px;
                    position: absolute;
                    top: 292px;
                    left: calc(50% - 90px);
                    // display: block;
                    // text-indent: -999px;
                    background-image: url(../img/video-btn-typo.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                    animation: 24s linear 0s infinite running btn-motion;
                }

                @keyframes btn-motion {
                    0% {
                        transform: rotate(0);
                    }

                    100% {
                        transform: rotate(360deg);
                    }
                }
            }

            .ball {
                width: 500px;
                height: 500px;
                position: absolute;
                top: -150px;
                left: calc(50% - 420px);
            }
        }

        #movies {
            position: relative;
            padding-top: 150px;
            padding-bottom: 200px;
            width: 100%;
            background-color: #ffd648;

            .title-en {
                position: absolute;
                top: 80px;
                left: calc(50% - 160px);
                font-size: 48px;
                font-weight: 700;
                line-height: 1;
                letter-spacing: 0.5rem;
                font-family: sans-serif;
                text-align: center;
                z-index: 5;

                .red {
                    padding: 5px;
                    color: #e60014;
                }

                .blue {
                    color: #003ca0;
                }
            }

            .title-tw {
                font-size: 17px;
                font-weight: 500;
                font-family: '台灣圓體';
                line-height: 1;
                letter-spacing: 0.2rem;
                margin-top: 18px;
                text-align: center;
                color: #4d4d4d;
            }

            .movies-list {
                margin: 90px auto;
                width: 1200px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                // align-items: center;

                .movie-item {
                    width: 540px;
                    padding-bottom: 30px;
                    overflow: hidden;
                    cursor: pointer;

                    &:first-child {

                        .img {
                            background-image: url(../img/movies-img1.png);
                        }
                    }

                    &:nth-child(2) {
                        margin-top: 90px;

                        .img {
                            background-image: url(../img/movies-img2.png);
                        }
                    }

                    &:nth-child(3) {

                        .img {
                            background-image: url(../img/movies-img3.png);
                        }
                    }

                    &:last-child {
                        margin-top: 90px;

                        .img {
                            background-image: url(../img/movies-img4.png);
                        }
                    }

                    .movie {
                        position: relative;
                        height: 306px;

                        .img {
                            width: 100%;
                            height: 100%;
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: center center;
                            // z-index: 1;

                            
                        }
        
                        .cover-top {
                            width: 100%;
                            height: 20px;
                            position: absolute;
                            top: 0;
                            left: 0;
                            background-color: #e60014;
                            z-index: 10;
                        }
        
                        .cover-bottom {
                            width: 100%;
                            height: 20px;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            background-color: #e60014;
                            z-index: 10;
                        }

                        .btn {
                            width: 70px;
                            height: 70px;
                            position: absolute;
                            top: calc(50% - 30px);
                            left: calc(50% - 40px);
                            background-image: url(../img/video-btn.png);
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center center;
                        }
                    }

                    .title {
                        font-size: 24px;
                        font-family: '台灣圓體';
                        margin-top: 34px;
                        text-align: justify;
                        line-height: 1.75;
                    }
                }
            }

            .title-bg {
                background-image: url(../img/movie-title-bg.svg);
                background-repeat: repeat-x;
                background-position: top right;
                width: 100%;
                height: 875px;
                position: absolute;
                top: -68px;
                left: 0;
                z-index: 0;
            }
            
        }

        #news {
            position: relative;
            width: 100%;
            margin: 0 auto;
            padding: 150px 372px 250px;
            background-color: #4d4d4d;

            .title {
                font-size: 60px;
                font-weight: 700;
                font-family: sans-serif;
                letter-spacing: 0.48rem;
                text-align: center;

                span {
                    display: inline-block;
                }

                .yellow {
                    color: #ffd648;
                    padding: 0.48rem;
                }

                .white {
                    color: #f5f8fc;
                }
            }

            .news-list {
                margin-top: 70px;
                margin-bottom: 100px;

                &::after {
                    content: "";
                    display: table;
                    clear: both;
                }

                .news-item {
                    width: 352px;
                    float: left;
                    margin-left: 60px;
                    text-decoration: none;
                    color: #292929;
                    cursor: pointer;

                    .img {
                        width: 100%;
                        height: 264px;
                        background-size: cover;
                    }

                    .img-1 {
                        background-image: url(../img/news-img1.jfif);
                    }

                    .img-2 {
                        background-image: url(../img/news-img2.jfif);
                    }

                    .img-3 {
                        background-image: url(../img/news-img3.jfif);
                    }

                    .title {
                        font-size: 18px;
                        font-weight: 700;
                        font-family: '台灣圓體';
                        line-height: 2;
                        margin-top: 20px;
                        text-align: justify;
                        color: #f5f8fc;
                    }

                    .text {
                        font-size: 14px;
                        font-family: '台灣圓體';
                        line-height: 2;
                        margin-top: 10px;
                        text-align: justify;
                        color: #f5f8fc;
                    }

                }

                .news-item:first-child {
                    margin-left: 0;
                }
            }

            .news-btn {
                text-decoration: none;
                position: relative;
                width: 260px;
                height: 60px;
                margin: 60px auto 0;
                display: flex;
                justify-content: center;
                align-items: center;

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #e60014;
                    z-index: 1;
                }

                .text {
                    position: relative;
                    font-size: 15px;
                    font-weight: 700;
                    text-align: center;
                    letter-spacing: 0.12rem;
                    font-family: sans-serif;
                    color: #f5f8fc;
                    z-index: 3;
                }

                .arrow {
                    display: block;
                    width: 24px;
                    height: 6px;
                    position: absolute;
                    top: auto;
                    right: 16px;
                    z-index: 10;

                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        transform: rotate(45deg);
                        transform-origin: top right;
                        width: 10px;
                        height: 1px;
                        background-color: #f5f8fc;
                        z-index: 1;
                    }
    
                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        width: 24px;
                        height: 1px;
                        background-color: #f5f8fc;
                        z-index: 1;
                    }
                }
            }

            .left-bg {
                width: 400px;
                height: 950px;
                position: absolute;
                bottom: 0;
                left: 0;
                background-image: url(../img/news-left-bg.png);
                background-repeat: no-repeat;
                background-size: contain;
            }

            .right-bg {
                width: 490px;
                height: 800px;
                position: absolute;
                bottom: 0;
                right: 0;
                background-image: url(../img/news-right-bg.png);
                background-repeat: no-repeat;
                background-size: contain;
            }

            .bottom-bg {
                width: 100%;
                height: 300px;
                position: absolute;
                bottom: 0;
                left: 0;
                background-image: url(../img/news-bottom-bg.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }

        #business {
            position: relative;
            width: 100%;
            margin: 0 auto;
            padding: 300px 400px 70px;
            background-color: #fff;

            .title {
                position: absolute;
                top: 250px;
                left: 300px;
                font-size: 72px;
                font-weight: 700;
                font-family: sans-serif;
                letter-spacing: 0.48rem;
                z-index: 5;

                .red {
                    padding: 5px;
                    color: #e60014;
                }

                .blue {
                    color: #003ca0;
                }
            }

            .title-bg {
                width: 1450px;
                height: 1600px;
                position: absolute;
                top: -90px;
                left: 0;
                background-image: url(../img/business-title-bg.png);
                background-repeat: no-repeat;
                background-size: contain;
            }

            .text {
                position: absolute;
                top: 360px;
                left: 310px;
                font-size: 18px;
                font-family: '台灣圓體';
                line-height: 2;
                z-index: 5;
            }

            .business-list {
                margin-top: 250px;
                display: flex;
                justify-content: space-between;

                .corporate, .contact {
                    text-decoration: none;
                    width: 50%;
                    height: 500px;
                    position: relative;

                    .title-1, .title-2 {
                        font-size: 30px;
                        letter-spacing: 0.42rem;
                        padding-top: 230px;
                        text-align: center;
                    }

                    .tag-1, .tag-2 {
                        font-size: 50px;
                        font-weight: 700;
                        letter-spacing: 0.3rem;
                        position: absolute;
                        bottom: -8px;
                    }

                    .arrow-1, .arrow-2 {
                        width: 55px;
                        height: 18px;
                        position: absolute;
                        top: calc(50% - 13px);
                        right: 32px;

                        &::before {
                            content: "";
                            position: absolute;
                            right: 0;
                            bottom: 0;
                            width: 20px;
                            height: 1px;
                            transform: rotate(45deg);
                            transform-origin: top right;
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            right: 0;
                            bottom: 0;
                            width: 55px;
                            height: 1px;
                            transform: rotate(0);
                            transform-origin: top right;
                        }
                    }
                }

                .corporate {
                    background-color: #e60014;
                    color: #fff;
                    font-family: '台灣圓體';

                    .tag-1 {
                        left: 70px;
                        font-family: sans-serif;
                    }

                    .arrow-1 {

                        &::before {
                            background-color: #fff;
                        }

                        &::after {
                            background-color: #fff;
                        }
                    }
                }

                .contact {
                    background-color: #ffd648;
                    color: #4d4d4d;
                    top: 100px;
                    font-family: '台灣圓體';

                    .tag-2 {
                        left: 150px;
                        font-family: sans-serif;
                    }

                    .arrow-2 {

                        &::before {
                            background-color: #4d4d4d;
                        }

                        &::after {
                            background-color: #4d4d4d;
                        }
                    }
                }
            }
        }

        #company {
            position: relative;
            width: 1920px;
            padding: 180px 624px 450px;
            margin: 0 auto;

            table {
                font-size: 24px;
                font-family: '台灣圓體';
                color: #4d4d4d;
                line-height: 1.75;
                border-spacing: 0 54px;
                border-collapse: separate;

                th {
                    vertical-align: top;
                    width: 230px;
                    font-weight: 400;
                    text-align: left;
                }

                td {
                    vertical-align: top;
                    font-weight: 400;
                    text-align: left;
                }
            }

            .bottom-bg {
                width: 362px;
                height: 492px;
                position: absolute;
                bottom: 300px;
                right: 0;
                background-image: url(../img/business-bottom-bg.png);
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }

    #footer {
        position: relative;
        width: 100%;
        height: 200px;
        z-index: 16;

        .inner {
            width: 1200px;
            height: 100%;
            display: flex;
            justify-content: space-around;
            position: relative;
            margin: 0 auto;
            z-index: 2;

            .sns {
                width: 150px;
                position: relative;
                display: flex;
                justify-content: space-between;

                a {
                    text-decoration: none;
                    width: 40px;
                    height: 40px;
                    text-align: center;
                    line-height: 40px;
                    color: #ffd648;

                    span {
                        width: 30px;
                        height: 30px;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }

                    .fb::before {
                        content: "";
                            width: 40px;
                            height: 40px;
                            position: absolute;
                            top: -2px;
                            left: -0.5px;
                            border: 1px solid #ffd648;
                            border-radius: 50%;
                    }

                    .ig::before {
                        content: "";
                            width: 40px;
                            height: 40px;
                            position: absolute;
                            top: -2px;
                            left: 54.5px;
                            border: 1px solid #ffd648;
                            border-radius: 50%;
                    }

                    .yt::before {
                        content: "";
                            width: 40px;
                            height: 40px;
                            position: absolute;
                            top: -2px;
                            left: 109.5px;
                            border: 1px solid #ffd648;
                            border-radius: 50%;
                    }

                    .fab {
                        font-size: 20px;
                    }
                    
                }
            }

            .nav {
                display: flex;
                justify-content: flex-end;

                a {
                    text-decoration: none;
                    font-size: 16px;
                    font-family: sans-serif;
                    letter-spacing: 0.12rem;
                    padding: 8px 0;
                    color: #ffd648;
                    margin-left: 27px;
                }

                
            }
        }

        .copyright {
            font-size: 12px;
            font-weight: 700;
            font-family: '台灣圓體';
            color: #e60014;
            text-align: center;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 64px;
            z-index: 5;
        }

        .bg-wave {
            width: 100%;
            height: 528px;
            position: absolute;
            bottom: 0;
            left: 0;
            background-image: url(../img/footer-wave.svg);
            background-position: calc(50% - 230px) 0;
            background-repeat: repeat-x;
            background-size: cover;
            z-index: 1;
        }

        .page-top {
            width: 60px;
            height: 98px;
            position: absolute;
            right: 30px;
            bottom: 50px;
            z-index: 110;

            .shape {
                width: 60px;
                height: 98px;
                position: relative;
                cursor: pointer;

                .circle {
                    width: 60px;
                    height: 60px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background-color: #fff;
                    border-radius: 50%;
                }

                .arrow {
                    width: 68px;
                    height: 1px;
                    position: absolute;
                    top: 0;
                    left: 30px;
                    transform: rotate(90deg);
                    transform-origin: top left;
                    background-color: #292929;

                    &::before {
                        content: "";
                        width: 20px;
                        height: 1px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        transform: rotate(45deg);
                        transform-origin: top left;
                        background-color: #292929;
                    }

                    &::after {
                        content: "";
                        width: 20px;
                        height: 1px;
                        position: absolute;
                        top: -14px;
                        left: 14px;
                        transform: rotate(135deg);
                        transform-origin: top left;
                        background-color: #292929;
                    }
                }
            }

            
        }
    }
}
